@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-button-transition {
  transition-property: background-color, color;
  transition-duration: 1.5s; /* 1500ms = slower than 0.8s */
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); /* smooth ease */
}
.perspective {
  perspective: 1000px;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
